.search-page {
    .search {
        &-form {
            display: flex;
            margin-top: 20px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        &-field {
            border: 0;
            width: 40%;
            height: 40px;
            padding: 0 20px;
        }
    }

    .repo-list {
        width: 40%;
        display: block;
        min-height: 100px;
        margin: 20px auto 0;
        list-style-type: none;

        .repo-item {
            color: #FFF;
            padding: 5px;
            display: block;
            position: relative;
            margin-bottom: 10px;
            border: 1px solid #323B4F;
            background-color: #1F2531;

            > * {
                display: block;
            }

            &-name {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &-description {
                margin-bottom: 25px;
            }

            &-license {
                .icon {
                    margin-right: 5px;
                }
            }

            &-badge {
                right: 0;
                bottom: 0;
                position: absolute;
            }
        }
    }
}