@import 'base/base';
@import './search-page';

@font-face {
    src: url("../fonts/robotomono-regular.ttf");
    font-family: "Roboto Mono";
}

* {
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

ul {
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background: #252C3B;
}